:root {
    --background_black: #1B1818;
    --background: #FFF5E5;
    --yellow_main: #F6B460;
    --red_main: #C33824;
    /* TODO: Уточнить/Поменять цвет фона */
    --background_dark: #301f1d;


  }