
body {
    /* background-color: var(--background);
    background-image: url('../../../ui/mock/noise.png'); */
}

.row-2__wrapper {
    background-color: var(--background);
    width: 100%;
    height: 400px;
    background-image: url('../../../ui/mock/noise.png');
}
.row-2__marquee-infinite {
    margin: 10px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--background);
    background-image: url('../../../ui/mock/noise.png');
    width: 100%;
    overflow: hidden;
    margin-bottom: 6%;
}

.row-2__marquee-infinite div {
    display: flex;
    width: 610%;
    animation: marquee-infinite 12s linear infinite;
    margin-top: 26px;
}

.row-2__marquee-infinite span {
    width: 150%;
    display: flex;
    justify-content: space-around;
}

.row-2__marquee-infinite img {
    /* width: 20%; */
    height: 70%;
}

.row-2__marquee-infinite:hover div {
    animation-play-state: paused;
}

@keyframes row-2__marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


@media screen and (max-width: 1600px) {
    .row-2__wrapper {
        height: 330px;
    }

    .row-2__marquee-infinite img {
        /* width: 80%; */
        height: 329px;
    }

    .row-2__marquee-infinite span {
        width: 37.5%;
        height: 400px;
    }

    .row-2__marquee-infinite div {
        margin-top: 20px;
    }

}
