.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.box .frame-wrapper {
    border: 0px none;
    height: 568px;
    width: 1170px;
}

.box .frame {
    align-items: flex-start;
    background-color: #d9d9d9;
    border-radius: 40px;
    display: inline-flex;
    flex-direction: column;
    gap: 258px;
    left: 0;
    overflow: hidden;
    padding: 60px 100px;
    position: fixed;
    top: 0;
}

.box .text-wrapper {
    color: #000000;
    font-family: "Kyiv Region-Regular", Helvetica;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 64px;
    margin-top: -1px;
    position: relative;
    width: 970px;
}

.box .p {
    color: #000000;
    font-family: "Object Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 126px;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    width: 970px;
}
