
body {
    /* background-color: var(--background);
    background-image: url('../../../ui/mock/noise.png'); */

}

.row-1__wrapper {
    background-color: var(--background);
    width: 100%;
    /* margin-bottom: 12%; */
    height: 200px;
    background-image: url('../../../ui/mock/noise.png');
}
.row-1__marquee-infinite {
    margin: 10px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--background);
    width: 100%;
    overflow: hidden;
    background-image: url('../../../ui/mock/noise.png');
    /* margin-top: 3%; */
}

.row-1__marquee-infinite div {
    display: flex;
    width: 200%;
    /* animation: marquee-infinite 10s linear infinite; */
}

.row-1__marquee-infinite span {
    /* width: 70%; */
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.row-1__marquee-infinite img {
    /* width: 20%; */
    height: 70%;
}

.row-1__marquee-infinite:hover div {
    animation-play-state: paused;
}

@keyframes row-1__marquee-infinite {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1600px) {
    .row-1__wrapper {
        height: 170px;
    }

    .row-1__marquee-infinite img {
        /* width: 80%; */
        height: 75%;
    }

    .row-1__marquee-infinite div {
        display: flex;
        width: 200%;
        /* animation: marquee-infinite 10s linear infinite; */
    }

    .row-1__marquee-infinite span {
        width: 65%;
    }

}
