.hands__wrapper {
    -webkit-animation: hands 4.95s linear infinite;
    -moz-animation: hands 4.95s linear infinite;
    animation: hands 4.95s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 10%;
    height: 800px;
    background-color: var(--background);
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}

@-webkit-keyframes hands  {
    0% {
    }
    99% {
        background-color: var(--background);
    }
    100% {
        background-color: var(--background_black);
    }
}

@-moz-keyframes hands {
    0% {
    }
    99% {
        background-color: var(--background);
    }
    100% {
        background-color: var(--background_black);
    }
}

@keyframes hands {
    0% {
    }
    99% {
        background-color: var(--background);
    }
    100% {
        background-color: var(--background_black);
    }
}

.hands-info_block {
    width: 40%;
    z-index: 30;
    display: flex;
    justify-content: start;
    align-items: center;

    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;

}



.hands_btn {
    border: none;
    /* background-image: url('../../ui/mock/white.png'); */
    background-image: url('../../ui/mock/red.png');
    /* background-image: url('../../ui/mock/white_fill.png'); */
    box-sizing: border-box;
    width: 360px;
    align-items: center;
    /* opacity: 0; */
    /* color: var(--background_black); */
    font-size: 34px;
    display: inline-flex;
    justify-content: center;
    padding: 20px 30px 26px;
    position: relative;
    margin-top: 9%;
    color: var(--background_black);
    scale: 0.8;

    /* transition: 0.5s all; */

    -webkit-animation: hands_btn 7s linear infinite;
    -moz-animation: hands_btn 7s linear infinite;
    animation: hands_btn 7s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hands_btn_label:hover {
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    width: 360px;
    align-items: center;
    /* opacity: 0; */
    /* color: var(--background_black); */
    font-size: 34px;
    display: inline-flex;
    justify-content: center;
    padding: 20px 30px 26px;
    position: relative;
    margin-top: 9%;
    color: var(--background_black);
    scale: 0.8;

}


@-webkit-keyframes hands_btn  {
    0% {
        opacity: 0;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
    }
     50% {
        opacity: 1;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
     }
    99% {
        opacity: 1;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
    }
    100% {
        opacity: 1;
        background-image: url('../../ui/mock/white.png');
        color: var(--background);
        
    }
}

@-moz-keyframes hands_btn {
    0% {
        opacity: 0;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
    }
     50% {
        opacity: 1;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
     }
    99% {
        opacity: 1;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
    }
    100% {
        background-image: url('../../ui/mock/white.png');
        color: var(--background);
    }
}

@keyframes hands_btn {
    0% {
        opacity: 0;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
    }
     50% {
        opacity: 1;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
     }
    99% {
        opacity: 1;
        background-image: url('../../ui/mock/red.png');
        color: var(--background_black);
    }
    100% {
        background-image: url('../../ui/mock/white.png');
        color: var(--background);
        
    }
    
}

.hands_btn:hover {
    background-image: url('../../ui/mock/btn_outline_white_fill.png');
    color: var(--background);
    transition: 0.5s all;
}



.hands-info_block {
    display: block;
    margin: 0 auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.hands {
    position: absolute;
    z-index: 1;
    scale: 1.5;
}

.hand_left {
    left: 5%;
    width: 42%;
    z-index: 5;
    top: 0%;
    opacity: 1;

    /* top: -2%; */

    -webkit-animation: left_hand 5s linear infinite;
    -moz-animation: left_hand 5s linear infinite;
    animation: left_hand 5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes left_hand  {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 39.4em;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 39.4em;
        opacity: 0;
        /* display: none; */
    }
}

@-moz-keyframes left_hand {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 39.4em;
         opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 39.4em;
        opacity: 0;
        /* display: none; */
    }
}

@keyframes left_hand {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 39.4em;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 39.4em;
        opacity: 0;
        /* display: none; */
    }
}

.hand_right {
    width: 42%;
    right: 5%;
    top: 0%;
    z-index: 3;
    opacity: 1;

    -webkit-animation: right_hand 5s linear infinite;
    -moz-animation: right_hand 5s linear infinite;
    animation: right_hand 5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes right_hand  {
    0% {
    }
    99% {
        /* display: none; */
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -24.4em;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -24.4em;
        opacity: 0;
    }
}

@-moz-keyframes right_hand {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -24.4em;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -24.4em;
        opacity: 0;
    }
}

@keyframes right_hand {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -24.4em;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -24.4em;
        opacity: 0;
    }
}

.hand_right_dark {
    width: 42%;
    right: 5%;
    top: 0%;
    z-index: 5;
    opacity: 0;
    -webkit-animation: hand_right_dark 5s linear infinite;
    -moz-animation: hand_right_dark 5s linear infinite;
    animation: hand_right_dark 5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hand_right_dark  {
    0% {
    }
    99% {
        /* display: none; */
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -26em;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -26em;
        opacity: 1;
        /* opacity: 0; */
    }
}

@-moz-keyframes hand_right_dark {
    0% {
    }
    99% {
        /* display: none; */
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -26em;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -26em;
        opacity: 1;
        /* opacity: 0; */
    }
}

@keyframes hand_right_dark {
    0% {
    }
    99% {
        /* display: none; */
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -26em;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: -26em;
        opacity: 1;
        /* opacity: 0; */
    }
}

.hand_left_dark {
    position: absolute;
    left: 5%;
    width: 40%;
    z-index: 3;
    top: 0%;
    opacity: 0;
    -webkit-animation: hand_left_dark 5s linear infinite;
    -moz-animation: hand_left_dark 5s linear infinite;
    animation: hand_left_dark 5s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hand_left_dark  {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 41em;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 41em;
        opacity: 1;
    }
}

@-moz-keyframes hand_left_dark {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 41em;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 41em;
        opacity: 1;
    }
}

@keyframes hand_left_dark {
    0% {
    }
    99% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 41em;
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1.4);
        -webkit-transform-origin-x: 41em;
        opacity: 1;
    }
}

.clarifications {
    color: var(--red, #C33824);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Kyiv Region-Regular"; 
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 80.5px */
    text-align: center;
}

.hands-info_main {
    color: var(--black, #1B1818);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "Object Sans-Regular";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 47.203px */
    text-align: center;

    -webkit-animation: hands_info 7s linear infinite;
    -moz-animation: hands_info 7s linear infinite;
    animation: hands_info 7s linear infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@-webkit-keyframes hands_info  {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        color: var(--background_black);
        /* opacity: 0; */
    }
    100% {
        color: var(--background);
        /* opacity: 0; */
    }
}

@-moz-keyframes hands_info {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        color: var(--background_black);
        /* opacity: 0; */
    }
    100% {
        color: var(--background);
        /* opacity: 0; */
    }
}

@keyframes hands_info {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    99% {
        color: var(--background_black);
        /* opacity: 0; */
    }
    100% {
        color: var(--background);
        /* opacity: 0; */
    }
}

@media screen and (max-width: 1600px) {

    .hand_left_dark {
        position: absolute;
        left: 5%;
        width: 40%;
        z-index: 3;
        top: 0%;
        opacity: 0;
        -webkit-animation: hand_left_dark 5s linear infinite;
        -moz-animation: hand_left_dark 5s linear infinite;
        animation: hand_left_dark 5s linear infinite;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes hand_left_dark  {
        0% {
        }
        99% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: 32em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: 32em;
            opacity: 1;
        }
    }
    
    @-moz-keyframes hand_left_dark {
        0% {
        }
        99% {
            -webkit-transform: scale(1.4); 
            -webkit-transform-origin-x: 32em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: 32em;
            opacity: 1;
        }
    }
    
    @keyframes hand_left_dark {
        0% {
        }
        99% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: 32em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: 32em;
            opacity: 1;
        }
    }

    .hand_right_dark {
        width: 42%;
        right: 5%;
        top: 0%;
        z-index: 5;
        opacity: 0;
        -webkit-animation: hand_right_dark 5s linear infinite;
        -moz-animation: hand_right_dark 5s linear infinite;
        animation: hand_right_dark 5s linear infinite;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes hand_right_dark  {
        0% {
        }
        99% {
            /* display: none; */
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: -20em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: -20em;
            opacity: 1;
            /* opacity: 0; */
        }
    }
    
    @-moz-keyframes hand_right_dark {
        0% {
        }
        99% {
            /* display: none; */
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: -20em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: -20em;
            opacity: 1;
            /* opacity: 0; */
        }
    }
    
    @keyframes hand_right_dark {
        0% {
        }
        99% {
            /* display: none; */
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: -20em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.4);
            -webkit-transform-origin-x: -20em;
            opacity: 1;
            /* opacity: 0; */
        }
    }
    .clarifications { 
        scale: 0.8;
        width: 700px;
        /* margin-left: -20%; */
    }

    .hands-info_main {
        scale: 0.7;
        /* margin-left: 0%; */
    }

    .hands_btn {
        scale: 0.7;
    }
    .hands__wrapper {
        height: 650px;
    }
}

@media screen and (max-width: 960px) {
    .hand_left_dark {
        position: absolute;
        left: 5%;
        width: 40%;
        z-index: 3;
        top: 0%;
        opacity: 0;
        -webkit-animation: hand_left_dark 5s linear infinite;
        -moz-animation: hand_left_dark 5s linear infinite;
        animation: hand_left_dark 5s linear infinite;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes hand_left_dark  {
        0% {
        }
        99% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: 19.5em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: 19.5em;
            opacity: 1;
        }
    }
    
    @-moz-keyframes hand_left_dark {
        0% {
        }
        99% {
            -webkit-transform: scale(1.6); 
            -webkit-transform-origin-x: 19.5em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: 19.5em;
            opacity: 1;
        }
    }
    
    @keyframes hand_left_dark {
        0% {
        }
        99% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: 19.5em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: 19.5em;
            opacity: 1;
        }
    }

    .hand_right_dark {
        width: 42%;
        right: 5%;
        top: 0%;
        z-index: 5;
        opacity: 0;
        -webkit-animation: hand_right_dark 5s linear infinite;
        -moz-animation: hand_right_dark 5s linear infinite;
        animation: hand_right_dark 5s linear infinite;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    
    @-webkit-keyframes hand_right_dark  {
        0% {
        }
        99% {
            /* display: none; */
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: -10em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: -10em;
            opacity: 1;
            /* opacity: 0; */
        }
    }
    
    @-moz-keyframes hand_right_dark {
        0% {
        }
        99% {
            /* display: none; */
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: -10em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: -10em;
            opacity: 1;
            /* opacity: 0; */
        }
    }
    
    @keyframes hand_right_dark {
        0% {
        }
        99% {
            /* display: none; */
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: -10em;
            opacity: 0;
        }
        100% {
            -webkit-transform: scale(1.6);
            -webkit-transform-origin-x: -10em;
            opacity: 1;
            /* opacity: 0; */
        }
    }

    .hands__wrapper {
        height: 550px;
    }

    .hands_btn {
        scale: 0.6;
    }

    .hands-info_main {
        scale: 0.6;
        margin-top: -10%;
    }

    .clarifications {
        scale: 0.6;
        margin-top: -10%;
    }

}

